:root{
    --color: #383838;
    --primary-color: hsl(209, 44%, 29%);
    --secondary-color: hsl(208, 28%, 83%);
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    background-color: var(--color);
}

.container{
    width: 100%;
    padding-bottom: 56.25%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    overflow: hidden;
}

.bg{
    position: absolute;
    top:0;
    left:0;
    z-index:2;
    width: 100%;
}

.bg img{
    width:100%
}

.char{
    position: absolute;
    top:3.5%;
    left:25%;
    z-index:3;
    width: 100%;
}

.char img{
    width: 61%;
}

.filter{
    width: 100%;
    height: 100%;
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    background-color: gray;
    background-image: linear-gradient(transparent 40%, rgba(255,255,255,.5) 40%);
    background-size: 5px 5px;
}

.text{
    position: absolute;
    top: 3%;
    left: 1%;
    z-index: 10;
    background-color: white;
    padding-left: 2em;
    padding-right: 2em;
    width:31%;
    font-size: .8rem;
}